<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>m3.Beer - All products</title>
</head>

<body>
    <h1>m3.Beer - All products</h1>
    <% for (const beer of beers) { %>
    <li> <a href="/beers/<%= beer.id %>"><%= beer.name %></a> </li>
    <% } %>
</body>

</html>